In [1]:
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline

In [2]:
df = pd.read_csv("run_or_walk.csv")

In [3]:
df.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [4]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df.corr()

,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
wrist,1.000000,-0.113404,-0.609579,0.087091,0.323680,-0.022092,-0.068403,0.008796
activity,-0.113404,1.000000,-0.017747,0.639520,-0.192435,0.040856,0.012055,-0.008106
acceleration_x,-0.609579,-0.017747,1.000000,-0.265169,-0.552374,-0.021705,-0.004091,-0.060849
acceleration_y,0.087091,0.639520,-0.265169,1.000000,0.106220,0.010549,0.072170,-0.022994
acceleration_z,0.323680,-0.192435,-0.552374,0.106220,1.000000,0.035296,-0.021004,0.049621
gyro_x,-0.022092,0.040856,-0.021705,0.010549,0.035296,1.000000,0.094011,0.317769
gyro_y,-0.068403,0.012055,-0.004091,0.072170,-0.021004,0.094011,1.000000,0.287244
gyro_z,0.008796,-0.008106,-0.060849,-0.022994,0.049621,0.317769,0.287244,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88588 entries, 0 to 88587
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            88588 non-null  object
 1   time            88588 non-null  object
 2   username        88588 non-null  object
 3   wrist           88588 non-null  int64
 4   activity        88588 non-null  int64
 5   acceleration_x  88588 non-null  float64
 6   acceleration_y  88588 non-null  float64
 7   acceleration_z  88588 non-null  float64
 8   gyro_x          88588 non-null  float64
 9   gyro_y          88588 non-null  float64
 10  gyro_z          88588 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 7.4+ MB

In [5]:
df.columns

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [7]:
df.activity.value_counts()

1    44365
0    44223
Name: activity, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
cols = ['acceleration_x','acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z']
x = df[cols]
y = df["activity"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=186)

In [10]:
print(x_train.shape)
print(x_test.shape)

(70870, 6)
(17718, 6)

In [12]:
from sklearn.naive_bayes import GaussianNB, CategoricalNB

In [40]:
from sklearn.naive_bayes import GaussianNB

In [13]:
naivebayes_model = GaussianNB()

In [14]:
naivebayes_model.fit(  x_train, y_train )

GaussianNB()

In [15]:
y_pred_train = naivebayes_model.predict(x_train)
y_pred_test = naivebayes_model.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [17]:
print("Accuracy on train is:",accuracy_score(y_train,y_pred_train))
print("Accuracy on test is:", accuracy_score(  y_test, y_pred_test ))

Accuracy on train is: 0.9569775645548186
Accuracy on test is: 0.9552432554464386

In [18]:
print("Confusion matrix on train is:")
print(confusion_matrix(y_train, y_pred_train))
print("Confusion matrix on test is:")
print(confusion_matrix(y_test, y_pred_test))

Confusion matrix on train is:
[[34997   352]
 [ 2697 32824]]
Confusion matrix on test is:
[[8795   79]
 [ 714 8130]]

In [19]:
print(classification_report(y_train, y_pred_train, target_names=["Walk","Run"]))

              precision    recall  f1-score   support

        Walk       0.93      0.99      0.96     35349
         Run       0.99      0.92      0.96     35521

    accuracy                           0.96     70870
   macro avg       0.96      0.96      0.96     70870
weighted avg       0.96      0.96      0.96     70870

In [21]:
print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       0.92      0.99      0.96      8874
           1       0.99      0.92      0.95      8844

    accuracy                           0.96     17718
   macro avg       0.96      0.96      0.96     17718
weighted avg       0.96      0.96      0.96     17718

In [20]:
from sklearn.neighbors import KNeighborsClassifier

In [22]:
knn_model1 = KNeighborsClassifier(n_neighbors=21)
knn_model1.fit(x_train, y_train)
y_train_preds = knn_model1.predict(x_train)
y_test_preds = knn_model1.predict(x_test)

In [24]:
accuracy_score(y_train, y_train_preds)

0.981303795682235

In [25]:
accuracy_score(y_test, y_test_preds)

0.9780449260638898

In [24]:
from sklearn.tree import DecisionTreeClassifier

DT1 = DecisionTreeClassifier(max_depth=4)
DT1.fit(x_train, y_train)
y_train_preds = DT1.predict(x_train)
y_test_preds = DT1.predict(x_test)
print("On train:", accuracy_score(y_train, y_train_preds))
print("On test:", accuracy_score(y_test, y_test_preds))

On train: 0.9595879779878651
On test: 0.9577830454904617